# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 52685e6c7af978da00f136b24fa379180a8ccf8c9eb07858584b850642e9ce35b762199db2e590a248ff95684c5ddc526b0fdea97e477de1a374221037d1c147

test:
  secret_key_base: f47d4f07de3d44e4eb20365464c7b41599b2e980e85aebb9a0112905872a8796df87f9209892e0a010def14d72742c7f5fdd159c0b0da4789ef969749ba57555

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
